---
layout: default
css:
  - /css/post.css
---

{% if page.wip %}
<div class="post-wip">
    <span>work in progress</span>
</div>
{% endif %}

<article class="post">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
        {% if page.author %}
        {% assign author = site.data.authors.list[page.author] %}
        <span class="post-author">{{ page.author }}</span>
        {% if author.mail_u and author.mail_d %}
        <span class="post-author-email">
            <i class="fa fa-envelope"></i>
            <a class="x-msg"
               data-u="{{ author.mail_u }}"
               data-d="{{ author.mail_d }}"
               data-f="f" data-h="h"></a>
        </span>
        {% endif %}
        {% if author.homepage %}<span class="post-author-homepage"><i class="fa fa-globe"></i> <a href="{{ author.homepage }}">{{ author.homepage }}</a></span>{% endif %}
        {% if author.github_username %}<span class="post-author-github"><i class="fa fa-github"></i> <a href="https://github.com/{{ author.github_username }}">{{ author.github_username }}</a></span>{% endif %}
        {% endif %}
        <span class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
    </div>

    <ul class="post-tags">
        {% for tag in page.tags %}
        <li><i class="fa fa-tag"></i> {{ tag }}</li>
        {% endfor %}
    </ul>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
